/* eslint-disable */

import { ButtonHTMLAttributes, ForwardRefExoticComponent, MouseEventHandler, RefAttributes, SVGAttributes } from 'react';
#exports#

type ButtonProps = Omit<ButtonHTMLAttributes<HTMLButtonElement>, 'aria-label' | 'children' | 'dangerouslySetInnerHTML' | 'onClick'>;

interface Props extends Omit<SVGAttributes<SVGElement>, 'color' | 'onClick'> {
  name: '#names#';
  size?: number;
  color?: string | string[];
  onClick?: MouseEventHandler<HTMLButtonElement>;
  buttonProps?: ButtonProps;
}

declare const IconFont: ForwardRefExoticComponent<Props & RefAttributes<HTMLButtonElement | SVGSVGElement>>;

export default IconFont;
