/* eslint-disable */

import { ButtonHTMLAttributes, FunctionComponent, MouseEventHandler, SVGAttributes } from 'react';
#exports#

type ButtonProps = Omit<ButtonHTMLAttributes<HTMLButtonElement>, 'aria-label' | 'children' | 'dangerouslySetInnerHTML' | 'onClick'>;

interface Props extends Omit<SVGAttributes<SVGElement>, 'color' | 'onClick'> {
  name: '#names#';
  size?: number;
  color?: string | string[];
  onClick?: MouseEventHandler<HTMLButtonElement>;
  buttonProps?: ButtonProps;
}

declare const IconFont: FunctionComponent<Props>;

export default IconFont;
